@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
:root{
    --primary-color: #D03531;
    --secondary-color: #272727;
    --terciary-color: #F9F8F9;
    --title-font: "Oswald", sans-serif;
    --subtitle-font: "Moderustic", sans-serif; 
    --text-font: "Montserrat", sans-serif; 
}

/* Adjust rem values to equal 10px */

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

.information{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

.information-card{
    display: grid;
    width: 100%;
    height: 20rem;
    grid-template-rows: repeat(3, 1fr);
    border: var(--primary-color) 0.5rem solid;
    border-radius: 1rem;  
}

/*-----------------------------------MEDIA-QUERY-------------------------------------*/

/*Small screens*/
@media (min-width: 320px) and (max-width: 480px){
    
}

/*Smartphones*/
@media (min-width: 481px) and (max-width: 768px){
    
}

/*tablet ad landscape*/
@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){
    
}

/*Desktop*/
@media (min-width: 1025px) and (max-width: 1280px){
    
}

/*Big Screens*/
@media (min-width: 1281px){
    
}