@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
:root{
    --primary-color: #D03531;
    --secondary-color: #272727;
    --terciary-color: #F9F8F9;
    --title-font: "Oswald", sans-serif;
    --subtitle-font: "Moderustic", sans-serif; 
    --text-font: "Montserrat", sans-serif; 
}

/* Adjust rem values to equal 10px */

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

/* We define the footer template and apply a background color */
footer{
    display: grid;
    grid-template-areas: 
    "header header header"
    "information1 information2 information3"
    "socialnetworks socialnetworks socialnetworks"
    ;
    background-color: var(--primary-color);
}

/* We apply styles to the h3 tags */
footer h3{
    color: var(--terciary-color);
    font-family: var(--subtitle-font);
}

/* We apply styles to the a tags */
footer a{
    text-decoration: none;
    color: var(--terciary-color);
    font-family: var(--text-font);
    padding: 1%;
}

/* we apply pointer effect to the label a */
footer a:hover{
    font-size: 17px;
    text-shadow: 5px 10px 8px black;
    transition: 0.3s;
}

/* we apply style to the footer header */
.header-footer{
    grid-area: header;
    display: flex;
    justify-content: center;
    background-color: var(--terciary-color);
}

/* we define the size of the image in the footer header */
.header-footer img {
    width: 15vh;
}

/* we apply style to information-footer */
.information-footer{
    margin: 2%;
    grid-area: information1;
    display: grid;
    grid-column: auto;
    
}

/* we apply style to ImportantLinks-footer */
.ImportantLinks-footer{
    margin: 2%;
    grid-area: information2;
    display: grid;
    grid-column: auto;
    
}

/* we apply style to MainSections-footer */
.MainSections-footer{
    margin: 2%;
    grid-area: information3;
    display: grid;
    grid-column: auto;
    
}

/* we apply style to SocialNetworks-footer */
.SocialNetworks-footer{
    margin: 2%;
    grid-area: socialnetworks;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid white;
    height: 75%;
}

/* we define the size of the icons */
.SocialNetworks-footer i{
    width: 5rem;
}

/* we apply pointer effect to the label i */
.SocialNetworks-footer i:hover{
    font-size: 25px;
    text-shadow: 5px 10px 8px black;
    cursor: pointer;
    transition: 0.3s;
}

/* mediaquery for smartphones and small tablets*/
@media (min-width: 320px) and (max-width: 768px){
    footer{
        display: grid;
        grid-template-areas: 
        "header"
        "information1"
        "information2"
        "information3"
        "socialnetworks"
        ;
    }
}